[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/


Packages/com.unity.package-manager/
Library/PackageCache/

!Packages/manifest.json


.vs/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.pdb
*.svd
*.opendb
*.VC.db


*.pidb.meta
*.pdb.meta
